@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root{
  --background: #8ECAE6;
}

@theme {
  --color-sky-blue: var(--background);
  --color-ut-orange: #FF9F1C;
}

@layer components {
  .custom-button {
    @apply w-full rounded-3xl font-bold hover:scale-105 duration-300;
  }

}

body {
  background-color: var(--background);
  color: white;
  font-family: 'Outfit', sans-serif;
}
